*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 section {
     
     /* font-family: "Raleway", Sans-serif; */
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.navbar{
    width: 100%;
    height: 100px;
  background-color: whitesmoke;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* padding: 0 3%; */
}

.navbar h1{
    padding-left: 30px;
    font-size: 40px;
    color: black;
}

ul{
    list-style: none;
}

.links{
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-left: 460px;
    text-decoration: none;
    color: black ;
    /* color: white; */
}

.display{
    background-color:whitesmoke ;
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.display-left{
    background-color: whitesmoke;
    width: 47%;
    height: 500px;
    margin-left: 70px;
    margin-top: 200px
    /* align-items: center; */
    /* display: flex */
    /* justify-content: center; */
}

 .display-left p{
    color: #E73DD2;
    font-size: 20px;
    font-family: "Inter", Sans-serif;
}

.display-left h2{
    font-size: 90px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

.display-left span{
    color: rgba(0, 0, 0, 0.479);
    padding-top: 20px;
    display: flex;
}

.display-left button{
width: 30%;
height: 60px;
margin-top: 40px;
background-color: blue;

}

.display-left button p{
    color: white;
    font-weight: 30px;
}

/* .icon-button {
    position: relative;
    padding-left: 2em;
  }
  
  .icon-button i {
    position: absolute;
    left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
  } */

.display-right{
    width: 40%;
    height: 500px;
    /* background-color: black; */
}

.image-container{
    background-color: white;
    border-radius: 40px;
    height: 700px;
    margin-left: 60px;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    /* border-radius: 50%; */
    animation: floating 2s ease-in-out infinite;
    width: 650px;
    margin-top: 90px;
    box-shadow: 20px solid #E73DD2;
}
.display-right img{
    width: 80%;
    margin-left: 70px;
    margin-top: 35px;
}

.image-container p{
    color: black;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 59px;
    /* transition: all 0.2s ease-in-out; */
}


@keyframes floating {
    0% {
      /* transform: translate(-50%, -50%) translateY(0); */
    }
    50% {
      transform: translate(-50%, -50%) translateY(-20px);
    }
    100% {
      transform: translate(-50%, -50%) translateY(0);
    }
  }

/* .image-container:hover{
    background-color: red;
} */

.image-container span{
    margin-left: 59px;
    color: rgba(0, 0, 0, 0.412);
}


.About-artist{
    width: 100%;
    height: 1000px;
    background-color: whitesmoke;
    /* display: flex; */
}

.lines{
    width: 90%;
    height: 3px;
    margin-left: 60px;
    margin-bottom: 50px;
    /* margin-top: 10px */
    background-color: rgba(0, 0, 0, 0.063);
}

.post-links{
    width: 100%;
    height: 200px;
    /* display: flex; */
}

.post-links img{
    width: 140px;
    margin-right: 90px;
    padding: 0px 0px 0px0px;
    /* margin-top: 20px; */
}

.love{
    margin-left: 100px;
}

.-lefts{
    width: 50%;
    height: 300px;
    background-color: whitesmoke;
}

.-lefts img{
    width: 450px;
    border-radius: 35px;
    margin-left: 250px;
    margin-top: 50px;
}

.-right{
    width: 40%;
    height: 300px;
    /* background-color: black; */
}

.box{
    width: 100%;
    display: flex;
    height: 300px;
    background-color: whitesmoke;
}

.-right p{
    color: #E73DD2;
    margin-top: 80px;
}

.-right h2{
    font-size: 70px;

}

.-right h3{
    text-decoration: underline;
    margin-top: 30px;
}



/* .image-container {
    background-image: url(background-image.jpg);
    background-position: center;
    position: relative;
    width: 800px;
    height: 600px;
  }
  
  .image-container img:last-child {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
  }
   */

   .ABOUT-THE-ITEM{
    width: 100%;
    height: 800px;
     background-color: rgba(255, 0, 0, 0.1);
     display: flex;
       /* background: linear-gradient(to right, whitesmoke, , green); */
   }

.about-left{
    width: 50%;
    height: 400px;
    /* background-color: black; */
}

.about-left p{
    color: #E73DD2;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content:center ;
    padding-top: 70px;
    margin-top: 50px;
}

.about-left h1{
      display: flex;
    align-items: center;
    justify-content:center ;
    font-size: 50px;
    margin-left: 190px;
}

.text{
    width: 70%;
    height: 200px;
    align-items: center;
    margin-top: 15px;
    /* justify-content:center ; */
    /* display: flex; */
    margin-left: 190px;
    /* background-color: black; */
}

.main{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.text h4{
    font-size: 30px;
}

.text h5{
    font-size: 30px;
}

.text button{
    width: 35%;
    margin-top: 29px;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 30px;
}

.about-right{
    width: 50%;
    height: 400px;
}

.about-right img{
    width: 600px;
    margin-left: 65px;
    margin-top: 75px;

}

.about-NFT{
    width: 100%;
    height: 800px;
    display: flex;
    /* background-color: black; */
}

.A-NFT-LEFT{
    height: 800px;
    width: 50%;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
    display: flex;

}

/* .rotate{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  margin: 0 auto;
}

.rotating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotating-text {
  transform-origin: center center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-text {
  animation: rotate 5s linear infinite;
} */



.-RIGHTs{
    height: 800px;
    width: 45%;
    margin-top: 200px;
    margin-left: 90px;
}

.-RIGHTs p{
    color: #E73DD2;
    font-size: 20px;
    /* font-weight: 300px; */
}

.-RIGHTs h1{
    font-size: 50px;
}

.-RIGHTs span{
    /* padding: 0px 0px 30px; */
}

.COLLECTIONS{
    width: 100%;
    height: 2000px;
    /* background-color: rgba(255, 0, 0, 0.1); */
    background-color: whitesmoke;
}

.COLLECTIONS p{
    color: #E73DD2;
    padding-top: 60px;
    margin-left: 100px;
}

.COLLECTIONS h1{
    font-size: 40px;
    margin-left: 100px;
    /* margin-top: 60px; */

}

.COLLECTIONS h2{
    color: rgba(0, 0, 0, 0.323);
    font-size: 25px;
    margin-bottom: 90px;
    margin-left: 100px;
}

.box{
    width: 100%;
    height: 300px;
 
}

.box-container{
    background-color: white;
    border-radius: 40px;
    height: 700px;
    width: 35%;
    margin-left:70px;

}

.box-container2{
    background-color: white;
    border-radius: 40px;
    height: 700px;
    width:90%;
    margin-right:5px;
    margin-top: 100px;
}

.box-container2 img{
    width: 79%;
    height: 500px;
    margin-right: 20px;

}

.box-container img{
    width: 79%;
    height: 500px;
    border-radius: 40px;
    margin-left: 67px;
    margin-top: 49px;
    /* padding: 0px 20px; */
    /* object-fit: contain; */
}

.box-container h5{
    margin-left: 100px;
    color: #E73DD2;
    margin-top: 10px
}

.B-c-left{
    width: 50%;
    height: 200px;
    margin-left: 40px;
    /* display: flex; */
    /* background-color:black ;     */
}

.container{
    background-color: white;
    border-radius: 40px;
    height: 900px;
    margin-left: 70px;
    width: 100%;
}

.container img{
    width: 79%;
    height: 700px;
    border-radius: 40px;
    margin-left: 90px;
    margin-top: 50px;
}

.container h4{
    margin-left: 100px;
    color: #E73DD2;
    margin-top: 10px    
}

.grid-container{
    width: 100%;
    height: 700px;
    display: flex;
    background-color: whitesmoke;
    margin-top: 120px;
    display: flex;
    gap: 20px;
}

.grid-container h1{
    margin-left: 10px;
}

.grid-container span{
    margin-left: 10px;
}


.grid-container .container1{
    width: 50%;
    background-color: white;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.grid-container .container1 .image00{
    width: 70%;
    height: 300px;
    border-radius: 15px;
}

.grid-container .container1 .image00 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px 20px 20px 0px;
}

.grid-container .container2{
    width: 50%;
    background-color: white;
    height: 500px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid-container .container2 .image00{
    width: 70%;
    height: 300px;
    border-radius: 15px;
}

.grid-container .container2 .image00 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px 20px 20px 0px;
}

/* .npp{
    width: 50%;
    background-color: #E73DD2;
} */

.browse{
    width: 100%;
    height: 500px;
    background-color: #1100FF;
    /* align-items: center;
    justify-content: center; */
    /* display: flex; */
}

.browse h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    padding-top: 100px;
}

.browse p{
    align-items: center;
    justify-content: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-top: 20px;
    color: white;
    font-size: 26px;
}

.browse h2{
    align-items: center;
    justify-content: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    font-size: 22px;
    margin-top: 20px;
    color: white;
}

 .btn{
    margin-left: 740px;
    margin-top: 45px;
    height: 55px;
    width: 12%;
    border-radius: 15px;
    background-color: white;
}
/* button{
    color: rgb(11, 11, 125);
} */

.footer{
    height: 400px;
    width: 100%;
    display: flex

    
    
}

.love1{
    width: 33.3%;
    height: 400px;
    background-color: whitesmoke;
    /* margin-left: 30px; */
}

.love1 h1{
      margin-left: 25px;
      font-weight: 500;\
}

.love1 span{
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.653);
    font-size: 19px;
    margin-left: 25px;

}
.love2{
    width: 33.3%;
    height: 400px;
    background-color: whitesmoke;
}

.love2 h1{
    font-size: 19px;
    color:  rgba(0, 0, 0, 0.893);
    margin-top: 90px;
    margin-left: 40px;
    margin-bottom: 17px;
    
}

.love2 div{
    width: 10%;
    height: 20px;
}

.love2 a{
    margin-left: 40px;
    color:  rgba(0, 0, 0, 0.653);
    margin-top: 25px;
    
}

.love2 p{
    font-size: 19px;
    color:  rgba(0, 0, 0, 0.653);
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 19px;
    
}

.love2 span{
    font-size: 20px;
    color:  rgba(0, 0, 0, 0.653);
    margin-left: 40px;
    
}
.love3{
    width: 33.3%;
    height: 400px;
    background-color: whitesmoke;
}

.love3 input{
    width: 40%;
    height: 60px;
    border-radius: 20%;
    margin-top: 30px;
    background-color: white;
}

/* .love3 input button{
    width: 10%;
    height: 20px;
    background-color: aqua;
} */

.love3 button{
    width: 20%;
    height: 50px;
   background-color: green; 
   border-radius: 20%;
}

.love3 h1{
    background-color: whitesmoke;
    font-size: 18px;
      margin-top: 110px;
}

.love3 p{
  font-size: 18px;
   color: rgba(245, 245, 245, 0);
}

.lines{
    height: 1px;
    width: 99%;
    background-color: rgba(0, 0, 0, 0.194);
    margin-left: 10px;

}

.love1 h1{
    /* align-items: center;
    justify-content: center;
    display: flex; */
    margin-top: 80px;
}

.love1 span{
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar2{
    width: 100%;
    height: 100px;
    background-color: whitesmoke; 
}

.navbar2 h1{
    color: rgba(0, 0, 0, 0.179);
    font-size: 20px;
    /* padding-top: 10px; */
    /* padding-top:10px ; */

}

.navbar2 .links2{
       display: flex;
    justify-content: space-between;
    width: 35%;
    margin-left: 1060px;
    text-decoration: none;
    color: black ;
    font-size: 18px;
    margin-bottom: 80px;
}